@import "main.css";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.alert{
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.login-container{
    width: 40%;
    height: 60%;
    border-radius: 1.5rem;
    background-color: var(--point-300);
}
.container-content{
    width: 100%;
    height: 100%;
}

.logo{
    height: 20%;
    width: 100%;
    padding-left: 50px;
    padding-top: 50px;
}
.logo img{
    width: 140px;
    height: 70px;
    cursor: pointer;
}
.data-container{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}
.data-container input{
    height: 50px;
    border-radius: 1rem;
    border: none;
    padding-left: 10px;
}
.submit{
    height: 30%;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
.submit button{
    color: white;
    border-radius: 1rem;
    background-color: var(--point-500);
    border: none;
    width: 100%;
    height: 50px;
}

.signup-container{
    width: 40%;
    height: 60%;
    border-radius: 1.5rem;
    background-color: var(--point-300);
}
.name{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.name input{
    width: 45%;
}